@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #f3f2ef;
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

.grid-container {
  max-width: 1140px;
  margin: auto;
  padding: 5rem 1.5rem;
}

.grid-row {
  display: grid;
  grid-gap: 2rem;
  grid-area: initial;
  grid-template-areas: "header header header header" "left left right right" "footer footer footer footer";
  grid-template-columns: minmax(0, 0fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 0fr);
}

.grid-col {
  border: 1px solid rgba(0, 0, 0, 0.1215686275);
  border-radius: 0.8rem;
  background-color: #fff;
  overflow: hidden;
}

.header {
  grid-area: header;
}

.grid-col-1 {
  grid-area: left;
}

.grid-col-2 {
  grid-area: right;
  height: 88.9%;
}

.footer {
  grid-area: footer;
}

.cover-photo {
  position: relative;
  height: 28rem;
  width: 100%;
}
.cover-photo img {
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: fill;
     object-fit: fill;
}

.profile-photo {
  height: 16rem;
  width: 16rem;
  border: 0.4rem solid #fff;
  border-radius: 100%;
  margin: -8rem 0 0 2.5rem;
  padding: initial;
  overflow: hidden;
  position: relative;
}
.profile-photo img {
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-details {
  margin: 0 2.5rem;
  padding: 0 0 3rem 0;
}
.profile-details h1 {
  font-size: 2.4rem;
  font-weight: 500;
  font-style: initial;
  color: #000046;
  margin: 1.5rem 0 2rem 0;
  padding: initial;
  vertical-align: initial;
  line-height: 2.8rem;
  display: inherit;
}
.profile-details h1 span {
  font-size: 1.6rem;
  font-weight: 300;
  font-style: initial;
  color: #000046;
  margin: initial;
  padding: 0.5rem 0 0 0;
  vertical-align: initial;
  line-height: initial;
  display: block;
}
.profile-details h1 small {
  font-size: 1.4rem;
  font-weight: 400;
  font-style: initial;
  color: #000046;
  margin: initial;
  padding: initial;
  vertical-align: initial;
  line-height: initial;
  display: initial;
}
.profile-details ul {
  display: flex;
}
.profile-details ul li {
  margin: 0 1.5rem 0 0;
  padding: initial;
}
.profile-details ul li:last-child {
  margin: 0;
  padding: 0;
}
.profile-details ul li a {
  font-size: 1.6rem;
  font-weight: 500;
  font-style: initial;
  color: #fff;
  margin: initial;
  padding: 0.8rem 1.6rem;
  vertical-align: initial;
  line-height: initial;
  display: block;
  background-color: #0a66c2;
  border-radius: 10rem;
}
.profile-details ul li a:hover {
  background-color: #004182;
}
.profile-details ul li:last-child a {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 0 0.1rem rgba(0, 0, 0, 0.6);
}
.profile-details ul li:last-child a:hover {
  background-color: rgba(0, 0, 0, 0.0784313725);
  color: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 0 0.2rem rgba(0, 0, 0, 0.6);
}

.about-box {
  padding: 2.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1215686275);
}
.about-box h2 {
  font-size: 2rem;
  font-weight: 500;
  font-style: initial;
  color: #000046;
  margin: 0 0 2rem 0;
  padding: initial;
  vertical-align: middle;
  line-height: initial;
  display: inherit;
}
.about-box p {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: initial;
  color: #000046;
  margin: initial;
  padding: initial;
  vertical-align: initial;
  line-height: 2.5rem;
  display: initial;
}
.about-box p b {
  font-size: 1.6rem;
}

.recomandation-box i {
  border-radius: 100%;
  overflow: hidden;
  display: table;
}
.recomandation-box i img {
  -o-object-fit: fill;
     object-fit: fill;
  display: block;
}
.recomandation-box h3 {
  height: auto;
  width: 20%;
  margin-right: 20px !important;
}
.recomandation-box .recomandation {
  height: auto;
  width: 75%;
}
.recomandation-box .recomandation p {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: initial;
  color: #4a4a4a;
  margin: initial;
  padding: initial;
  vertical-align: initial;
  line-height: 2.5rem;
  display: initial;
}

.skill-box {
  height: 100%;
  width: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1215686275);
  padding: 2.5rem;
  background-color: #dce6f1;
}
.skill-box h2 {
  font-size: 2rem;
  font-weight: 500;
  font-style: initial;
  color: #000046;
  margin: 0 0 2rem 0;
  padding: initial;
  vertical-align: middle;
  line-height: initial;
  display: inherit;
}
.skill-box h2 i {
  vertical-align: middle;
}
.skill-box h2 small {
  font-size: 1.6rem;
  font-weight: initial;
  font-style: italic;
  color: #000046;
  margin: initial;
  padding: 0.5 0 0 0;
  vertical-align: initial;
  line-height: initial;
  display: block;
}
.skill-box .grid-col {
  padding: 2.5rem 1rem 1.5rem 1rem;
}
.skill-box .grid-col h2 {
  margin-bottom: 3rem;
}
.skill-box .grid-col ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.1rem;
  margin-bottom: 1.1rem;
  position: relative;
}
.skill-box .grid-col ul li:after {
  content: "";
  position: absolute;
  background-color: #f3f2ef;
  bottom: 0;
  height: 0.1rem;
  width: 100%;
}
.skill-box .grid-col ul li:last-child {
  padding: 0;
  margin: 0;
}
.skill-box .grid-col ul li:last-child::after {
  display: none;
}
.skill-box .grid-col ul li h5 {
  display: flex;
}
.skill-box .grid-col ul li h5 i {
  vertical-align: middle;
}
.skill-box .grid-col ul li h5 i img {
  height: auto;
  width: 3rem;
}
.skill-box .grid-col ul li h5 p {
  font-size: 1.6rem;
  font-weight: initial;
  font-style: initial;
  color: #000046;
  margin: 0 0 0 0.5rem;
  padding: initial;
  vertical-align: middle;
  line-height: 2rem;
  display: initial;
}
.skill-box .grid-col ul li h5 p small {
  font-size: 1.3rem;
  font-weight: initial;
  font-style: italic;
  color: #000046;
  margin: initial;
  padding: initial;
  vertical-align: initial;
  line-height: initial;
  display: block;
  opacity: 0.5;
  padding-top: 0.5rem;
}
.skill-box .grid-col ul li span {
  font-size: 2rem;
}

.education-box {
  padding: 2.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1215686275);
}
.education-box h2 {
  font-size: 2rem;
  font-weight: 500;
  font-style: initial;
  color: #000046;
  margin: 0 0 3rem 0;
  padding: initial;
  vertical-align: middle;
  line-height: initial;
  display: inherit;
}
.education-box li {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 0 1.5rem 0;
  padding: 0 0 1.5rem 0;
}
.education-box li:last-child {
  margin: 0;
  padding: 0;
}
.education-box li:after {
  content: "";
  position: absolute;
  background-color: #f3f2ef;
  bottom: 0;
  right: 0;
  height: 0.1rem;
  width: 100%;
}
.education-box li:last-child::after {
  display: none;
}
.education-box li i {
  margin-right: 2rem;
}
.education-box li i img {
  height: 5.4rem;
  width: 5.4rem;
}
.education-box li h3 {
  font-size: 1.6rem;
  font-weight: 500;
  font-style: initial;
  color: #000046;
  margin: initial;
  padding: initial;
  vertical-align: initial;
  line-height: 2rem;
  display: initial;
}
.education-box li h3 span {
  font-size: 1.4rem;
  font-weight: 400;
  font-style: initial;
  color: #000046;
  margin: initial;
  padding: 0.6rem 0 0 0;
  vertical-align: initial;
  line-height: initial;
  display: block;
}
.education-box li h3 small {
  font-size: 1.4rem;
  font-weight: 400;
  font-style: initial;
  color: #000046;
  margin: initial;
  padding: 0.6rem 0 0 0;
  vertical-align: initial;
  line-height: initial;
  display: block;
  opacity: 0.5;
}

.ide-box h5 {
  align-items: center;
}

h1.msg {
  padding: 12px 20px;
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1.msg a {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
  border: 0;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 3px;
  display: block;
}

@media (max-width: 1440px) {
  * {
    font-size: 52.5%;
  }
}
@media (max-width: 824px) {
  * {
    font-size: 42.5%;
  }

  .grid-row {
    grid-template-areas: "header header header header" "left left left left" "right right right right" "footer footer footer footer";
  }
}
@media (max-width: 767px) {
  * {
    font-size: 32.5%;
  }
}/*# sourceMappingURL=style.css.map */